@using PetStoreNetCore.Core
@model Store

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.StoreName</h3>
    </div>
    <div class="panel-body">
        <span>Location: @Model.StreetName</span>
        <span>City: @Model.City, @Model.Country</span>
    </div>
    <div class="panel-footer">
        <a class="btn btn-lg"
           asp-page="./Detail"
           asp-route-storeId="@Model.Id">
            See detail
            <i class="fas fa-search"></i>
        </a>

        <a class="btn btn-lg"
           asp-page="./Edit"
           asp-route-storeId="@Model.Id">
            Edit
            <i class="fas fa-edit"></i>
        </a>

        <a class="btn btn-lg"
           asp-page="./Delete"
           asp-route-storeId="@Model.Id">
            Edit
            <i class="fas fa-trash"></i>
        </a>


    </div>

</div>