@page 
@model PetStoreNetCore.Pages.ListModel
@{

}

<h1>Pet Stores</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>

    </div>
</form>

<table class="table">
    @foreach (var store in Model.Stores)
    {
        <tr>
            <td>@store.StoreName </td>
            <td>@store.StreetName</td>
            <td>@store.City</td>
            <td>@store.Country</td>
            <td>@store.DateCreated</td>
            <td>
                <a class="btn btn-lg"
               asp-page="./Detail"
               asp-route-storeId="@store.Id">
                    See detail
                    <i class="fas fa-search"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-lg"
               asp-page="./Edit"
               asp-route-storeId="@store.Id">
                    Edit
                    <i class="fas fa-edit"></i>
                </a>

            </td>
             <td>
                <a class="btn btn-lg"
               asp-page="./Delete"
               asp-route-storeId="@store.Id">
                    Edit
                    <i class="fas fa-trash"></i>
                </a>

            </td>
        </tr>
    }
</table>

<a asp-page="./Edit" class="btn btn-primary">Add New</a>